*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.mySvg {
  cursor: pointer;
}

.elem3 {
  transform: rotate(34.5deg);
}

.elem4 {
  transform: rotate(41.5deg);
}

.elem5 {
  transform: rotate(153.5deg);
}

.elem7 {
  transform: rotate(138.5deg);
}

.elem8 {
  transform: rotate(138.5deg);
}

/* Forward */
@keyframes elem1 {
  from {
    width: 0;
  }

  to {
    width: 40px;
  }
}

@keyframes elem2 {
  from {
    height: 0;
    y: 60px;
  }

  to {
    height: 42px;
    y: 18px;
  }
}

@keyframes elem3 {
  from {
    x: 34px;
    y: 49px;
    width: 3.2px;
    height: 0px;
  }

  to {
    x: 34px;
    y: -7px;
    width: 3.2px;
    height: 56px;
  }
}

@keyframes elem4 {
  from {
    x: 15px;
    y: 20px;
    width: 3.5px;
    height: 0px;
  }

  to {
    x: 15px;
    y: -14px;
    width: 3.5px;
    height: 34px;
  }
}

@keyframes elem5 {
  from {
    x: 5px;
    y: -64.5px;
    width: 3.5px;
    height: 0px;
  }

  to {
    x: 5px;
    y: -64.5px;
    width: 3.5px;
    height: 46.5px;
  }
}

@keyframes elem6 {
  from {
    height: 0;
    y: 60px;
  }

  to {
    height: 42px;
    y: 18px;
  }
}

@keyframes elem7 {
  from {
    x: -15px;
    y: -47px;
    width: 3.5px;
    height: 0px;
  }

  to {
    x: -15px;
    y: -47px;
    width: 3.5px;
    height: 13px;
  }
}

@keyframes elem8 {
  from {
    x: -15px;
    y: -13px;
    width: 3.5px;
    height: 0;
  }

  to {
    x: -15px;
    y: -34px;
    width: 3.5px;
    height: 21px;
  }
}


.elem1MouseOver {
  animation: elem1 .8s forwards;
}

.elem6MouseOver {
  animation: elem6 .8s .7s forwards;
}

.elem7MouseOver {
  animation: elem7 .5s 1.3s forwards;
}

.elem2MouseOver {
  animation: elem2 .8s forwards;
}

.elem4MouseOver {
  animation: elem4 .8s .7s forwards;
}

.elem8MouseOver {
  animation: elem8 .5s 1.3s forwards;
}

.elem3MouseOver {
  animation: elem3 2.1s forwards;
}

.elem5MouseOver {
  animation: elem5 .8s .3s forwards;
}





/* Reverse */
@keyframes elem1Rev {
  from {
    width: 40px;
  }

  to {
    width: 0;
  }
}

@keyframes elem2Rev {
  from {
    height: 42px;
    y: 18px;
  }

  to {
    height: 0;
    y: 60px;
  }
}

@keyframes elem3Rev {
  to {
    x: 34px;
    y: 49px;
    width: 3.2px;
    height: 0px;
  }

  from {
    x: 34px;
    y: -7px;
    width: 3.2px;
    height: 56px;
  }
}

@keyframes elem4Rev {

  from {
    x: 15px;
    y: -14px;
    width: 3.5px;
    height: 34px;
  }

  to {
    x: 15px;
    y: 20px;
    width: 3.5px;
    height: 0px;
  }
}

@keyframes elem5Rev {

  from {
    x: 5px;
    y: -64.5px;
    width: 3.5px;
    height: 46.5px;
  }

  to {
    x: 5px;
    y: -64.5px;
    width: 3.5px;
    height: 0px;
  }
}

@keyframes elem6Rev {

  from {
    height: 42px;
    y: 18px;
  }

  to {
    height: 0;
    y: 60px;
  }
}

@keyframes elem7Rev {

  from {
    x: -15px;
    y: -47px;
    width: 3.5px;
    height: 13px;
  }

  to {
    x: -15px;
    y: -47px;
    width: 3.5px;
    height: 0px;
  }
}

@keyframes elem8Rev {

  from {
    x: -15px;
    y: -34px;
    width: 3.5px;
    height: 21px;
  }

  to {
    x: -15px;
    y: -13px;
    width: 3.5px;
    height: 0;
  }
}

.elem1MouseLeave {
  animation: elem1Rev .8s 1.3s forwards;
}

.elem6MouseLeave {
  animation: elem6Rev .8s .7s forwards;
}

.elem7MouseLeave {
  animation: elem7Rev .8s forwards;
}

.elem2MouseLeave {
  animation: elem2Rev .8s 1.3s forwards;
}

.elem4MouseLeave {
  animation: elem4Rev .8s .7s forwards;
}

.elem8MouseLeave {
  animation: elem8Rev .5 forwards;
}

.elem3MouseLeave {
  animation: elem3Rev 2.1s forwards;
}

.elem5MouseLeave {
  animation: elem5Rev .8s .3s forwards;
}