*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.mySvg {
  cursor: pointer;
}

.elem3 {
  transform: rotate(34.5deg);
}

.elem4 {
  transform: rotate(41.5deg);
}

.elem5 {
  transform: rotate(153.5deg);
}

.elem7 {
  transform: rotate(138.5deg);
}

.elem8 {
  transform: rotate(138.5deg);
}